<div class="content">
  <div class="container-fluid">
    <div class="page-title-box">
      <div class="row align-items-center">
        <div class="col-md-8">
          <div class="page-title-box">
            <h4 class="page-title">Revisar Familia</h4>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="javascript:void(0);">SAE</a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0);">Gestión y Análisis</a>
              </li>
              <li class="breadcrumb-item active">Revisar Familia</li>
            </ol>
          </div>
        </div>

        <div class="col-md-4">
          <div class="float-right d-none d-md-block app-datepicker">
            <input
              type="text"
              class="form-control"
              data-date-format="MM dd, yyyy"
              readonly="readonly"
              disabled
              id="datepicker"
            />
            <i class="mdi mdi-chevron-down mdi-drop"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- end page-title -->

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="mt-0 header-title pb-0">Revisar Familia</h4>
            <div class="mb-2">
              Revisa la información relacionada a las tarjetas de la familia en los eventos de la plataforma.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <form class="checkCard">
              <div class="form-group row">
                <label
                  for="checkCardInput"
                  class="col-lg-2 col-md-2 col-sm-12 col-xs-12 col-form-label text-center"
                  >Carnet del Estudiante</label
                >
                <div
                  class="col-lg-10 col-md-10 col-sm-12 col-xs-12 form-checkCardInput"
                >
                  <input
                    type="text"
                    value=""
                    id="checkCardInput"
                    name="checkCardInput"
                    min-length="4"
                    maxlength="100"
                    placeholder="Ingrese el carnet del estudiante"
                    class="form-control checkCardInput"
                  />
                  <div
                    class="form-control-checkCardInput-feedback"
                    style="display: none"
                  >
                    Success! You've done it.
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-12 d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-block btn-primary text-white mt-3 registerCard"
                    name="registerCard"
                  >
                    Revisar Familia
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--start addModal -->
    <div class="modal fade bd-checkModal-lg" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Revisar Tarjetas de la Familia</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body checkContent"></div>
            <div class="modal-footer">
              <div class="col-6 d-flex justify-content-center">
                <button id="printContent" class="btn btn-primary">Imprimir</button>
              </div>
              <div class="col-6 d-flex justify-content-center">
                <button id="saveContent" class="btn btn-outline-primary">Guardar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end addModal -->
  </div>

  <!-- container-fluid -->
</div>
