<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"
    />
    <title>SAE | CSSC</title>
    <meta content="An Event Manager System for the CSSC" name="description" />
    <meta content="Miguel Ledezma" name="author" />
    <link rel="shortcut icon" href="../assets/images/favicon.ico" />
    <base href="/SAE/views/main.html" />

    <link
      href="../plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css"
      rel="stylesheet"
    />

    <link href="../plugins/sweet-alert2/sweetalert2.css" rel="stylesheet" />

    <link
      href="../plugins/bootstrap-select/css/bootstrap-select.min.css"
      rel="stylesheet"
    />

    <link
      href="../plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css"
      rel="stylesheet"
    />

    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="../plugins/morris/morris.css" />

    <!-- DataTables -->
    <link
      href="../plugins/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../plugins/datatables/buttons.bootstrap4.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Responsive datatable examples -->
    <link
      href="../plugins/datatables/responsive.bootstrap4.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="../assets/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="../assets/css/metismenu.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="../assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <!-- Begin page -->
    <div id="wrapper">
      <!-- Loader Start -->
      <div id="overlay">
        <div class="spinner-grow text-primary" role="status" id="loader">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <!-- Loader End-->

      <!-- Top Bar Start -->
      <div class="topbar"></div>
      <!-- Top Bar End -->

      <!-- ========== Left Sidebar Start ========== -->
      <div class="left side-menu"></div>
      <!-- Left Sidebar End -->

      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="content-page"></div>

      <!-- Footer Start -->
      <footer class="footer">
        © 2024 SAE
        <a href="https://santacecilia.edu.sv" target="_blank" class="">CSSC</a>
      </footer>
      <!-- Footer End -->

      <!-- ============================================================== -->
      <!-- End Right content here -->
      <!-- ============================================================== -->
    </div>
    <!-- END wrapper -->

    <!-- jQuery  -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/metismenu.min.js"></script>
    <script src="../assets/js/jquery.slimscroll.js"></script>
    <script src="../assets/js/waves.min.js"></script>

    <script src="../plugins/apexchart/apexcharts.min.js"></script>
    <script src="../plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="../plugins/bootstrap-datepicker/js/bootstrap-datepicker.es.min.js"></script>
    <script src="../plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="../plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="../plugins/bootstrap-select/js/i18n/defaults-es_ES.js"></script>
    <script src="../plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>

    <script src="../plugins/alertify/js/alertify.js"></script>
    <script src="../plugins/sweet-alert2/sweetalert2.min.js"></script>

    <!--Morris Chart-->
    <script src="../plugins/morris/morris.min.js"></script>
    <script src="../plugins/raphael/raphael.min.js"></script>

    <!-- Required datatable js -->
    <script src="../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="../plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="../plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="../plugins/datatables/jszip.min.js"></script>
    <script src="../plugins/datatables/pdfmake.min.js"></script>
    <script src="../plugins/datatables/vfs_fonts.js"></script>
    <script src="../plugins/datatables/buttons.html5.min.js"></script>
    <script src="../plugins/datatables/buttons.print.min.js"></script>
    <script src="../plugins/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="../plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="../plugins/datatables/responsive.bootstrap4.min.js"></script>

    <!-- Responsive datatable examples -->
    <link
      href="../plugins/datatables/responsive.bootstrap4.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Dynamic Content -->
    <script type="module" src="../controller/contentManager.js"></script>
  </body>
</html>
