<div class="content">
    <div class="container-fluid">
      <div class="page-title-box">
        <div class="row align-items-center">
          <div class="col-md-8">
            <div class="page-title-box">
              <h4 class="page-title">Pagar Tarjetas por Estudiante</h4>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="javascript:void(0);">SAE</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="javascript:void(0);">Gestión y Análisis</a>
                </li>
                <li class="breadcrumb-item active">Pagar Tarjetas por Estudiante</li>
              </ol>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="float-right d-none d-md-block app-datepicker">
              <input
                type="text"
                class="form-control"
                data-date-format="MM dd, yyyy"
                readonly="readonly"
                id="datepicker"
              />
              <i class="mdi mdi-chevron-down mdi-drop"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- end page-title -->
  
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="mt-0 header-title pb-0">Pagar Tarjetas por Estudiante</h4>
              <div class="mb-2">
                Lista los pagos pendientes del estudiante y procesa los pagos a realizar.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- container-fluid -->
  </div>
  