<div class="content">
  <div class="container-fluid">
    <div class="page-title-box">
      <div class="row align-items-center">
        <div class="col-md-8">
          <div class="page-title-box">
            <h4 class="page-title">Revisar Tarjeta</h4>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="javascript:void(0);">SAE</a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0);">Eventos</a>
              </li>
              <li class="breadcrumb-item active">Revisar Tarjeta</li>
            </ol>
          </div>
        </div>

        <div class="col-md-4">
          <div class="float-right d-none d-md-block app-datepicker">
            <input
              type="text"
              class="form-control"
              data-date-format="MM dd, yyyy"
              readonly="readonly"
              id="datepicker"
            />
            <i class="mdi mdi-chevron-down mdi-drop"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- end page-title -->

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="mt-0 header-title pb-0">Revisar Tarjeta</h4>
            <div class="mb-2">
              Revisa la información relacionada a la tarjeta en el actual evento.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- container-fluid -->
</div>
