<div class="content">
    <div class="container-fluid">
      <div class="page-title-box">
        <div class="row align-items-center">
          <div class="col-md-8">
            <div class="page-title-box">
              <h4 class="page-title">Cerrar Evento</h4>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="javascript:void(0);">SAE</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="javascript:void(0);">Eventos</a>
                </li>
                <li class="breadcrumb-item active">Cerrar Evento</li>
              </ol>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="float-right d-none d-md-block app-datepicker">
              <input
                type="text"
                class="form-control"
                data-date-format="MM dd, yyyy"
                readonly="readonly"
                disabled
                id="datepicker"
              />
              <i class="mdi mdi-chevron-down mdi-drop"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- end page-title -->
  
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="mt-0 header-title pb-0">Cerrar Evento</h4>
              <div class="mb-2">
                Cambia el estado del Evento a "Finalizado", esto deshabilita los modulos: Canjeo, Caja de Ventas y Cerrar evento. Habilita los módulos: Listado de Devolución de Tarjetas y Análisis.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="form-group row d-flex justify-content-center mb-0 px-0">
                <button
                  type="button"
                  class="btn btn-primary endEvent"
                  title="Iniciar Evento"
                  data-toggle="tooltip"
                  data-placement="top"
                >
                  Finalizar Evento
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- container-fluid -->
  </div>
  