<div class="content">
  <div class="container-fluid">
    <div class="page-title-box">
      <div class="row align-items-center">
        <div class="col-md-8">
          <div class="page-title-box">
            <h4 class="page-title">Panel de Evento</h4>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="javascript:void(0);">SAE</a>
              </li>
              <li class="breadcrumb-item">
                <a href="javascript:void(0);">Eventos</a>
              </li>
              <li class="breadcrumb-item active">Panel</li>
            </ol>
          </div>
        </div>

        <div class="col-md-4">
          <div class="float-right d-none d-md-block app-datepicker">
            <input
              type="text"
              class="form-control"
              data-date-format="MM dd, yyyy"
              readonly="readonly"
              disabled
              id="datepicker"
            />
            <i class="mdi mdi-chevron-down mdi-drop"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- end page-title -->

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h2 class="mt-0 pb-0 text-center eventTitle"></h2>
            <span
              class="badge badge-primary mb-2 eventYear"
              style="
                display: flex;
                text-align: center;
                justify-content: center;
                font-size: 1rem;
              "
            ></span>
            <div class="mb-2"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="card">
          <div class="card-body">
            <h4 class="mt-0 header-title pb-0 text-center">
              Estado del Evento
            </h4>
            <span
              class="badge badge-primary eventStatus mb-2"
              style="
                display: flex;
                text-align: center;
                justify-content: center;
                font-size: 1rem;
              "
            ></span>
            <h4 class="pt-1 header-title pb-0 text-center">Fecha</h4>
            <span
              class="badge badge-primary eventDate"
              style="
                display: flex;
                text-align: center;
                justify-content: center;
                font-size: 1rem;
              "
            ></span>
            <div class="eventDifference pt-1"></div>
            <h4 class="pt-1 header-title pb-0 text-center">Niveles</h4>
            <div class="eventLevels"></div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h4 class="pt-1 header-title pb-0 text-center">Número de Familias</h4>
            <span
              class="badge badge-primary studentsNumber"
              style="
                display: flex;
                text-align: center;
                justify-content: center;
                font-size: 1rem;
              "
              ></span
            >
            <h4 class="pt-1 header-title pb-0 text-center">Entrada</h4>
            <span
              class="badge badge-primary eventPrice"
              style="
                display: flex;
                text-align: center;
                justify-content: center;
                font-size: 1rem;
              "
              ></span
            >
            <h4 class="pt-2 header-title pb-1 text-center">Consumibles</h4>
            <div class="eventComplements"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-6">
        <div class="card">
          <div class="card-body">
            <div id="calendar"></div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <a
              class="content btn btn-block btn-primary text-center text-white mb-0 mt-0 pt-2"
              style="
                display: flex;
                justify-content: center;
                align-items: center;
              "
              id="mainPanel"
              >Salir del Evento
            </a>
            <div class="mb-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- container-fluid -->
</div>
