<div class="content">
    <div class="container-fluid">
      <div class="page-title-box">
        <div class="row align-items-center">
          <div class="col-md-8">
            <div class="page-title-box">
              <h4 class="page-title">Canjear Tarjetas</h4>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="javascript:void(0);">SAE</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="javascript:void(0);">Eventos</a>
                </li>
                <li class="breadcrumb-item active">Canjear Tarjetas</li>
              </ol>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="float-right d-none d-md-block app-datepicker">
              <input
                type="text"
                class="form-control"
                data-date-format="MM dd, yyyy"
                readonly="readonly"
                disabled
                id="datepicker"
              />
              <i class="mdi mdi-chevron-down mdi-drop"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- end page-title -->
  
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="mt-0 header-title pb-0">Canjear Tarjetas</h4>
              <div class="mb-2">
                Canjea tarjetas en el evento.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <ul class="nav nav-pills flex-column flex-sm-row grades-tabs">
                <li class="nav-item">
                  <a
                    class="flex-sm-fill nav-link text-center py-1 toggleAction"
                    id="redeemCardEntry"
                    aria-current="page"
                    style="cursor: pointer"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Ir al modulo: Canjeo de Entrada por tarjeta."
                    >Canjear Entrada por tarjeta</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="flex-sm-fill nav-link text-center py-1 toggleAction"
                    id="redeemCardComplement"
                    aria-current="page"
                    style="cursor: pointer"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Ir a modulo: Canjeo de Complementos por tarjeta."
                    >Canjear Complemento Por Tarjeta</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="flex-sm-fill nav-link text-center py-1 toggleAction"
                    id="redeemComplement"
                    aria-current="page"
                    style="cursor: pointer"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Ir a modulo: Canjeo de Complementos."
                    >Canjear Complemento</a
                  >
                </li>
              </ul>
            </div>
            <div class="card-body redeemContent"></div>
          </div>
        </div>
      </div>
  
    <!-- container-fluid -->
  </div>
  