
    <div class="slimscroll-menu" id="remove-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Estádisticas del Evento</li>
                <li>
                    <a class="waves-effect content" id="mainPanel">
                        <i class="dripicons-meter" id="mainPanel"></i>
                        <span id="mainPanel"> Panel de Control </span>
                    </a>
                </li>

                <li class="menu-title">Administrar</li>
                <li>
                    <a class="waves-effect content" id="events">
                        <i class="fas fa-calendar" id="events"></i>
                        <span id="events"> Eventos </span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect content" id="students">
                        <i class="fas fa-user-graduate" id="students"></i>
                        <span id="students"> Estudiantes </span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect content" id="grades">
                        <i class="fas fa-graduation-cap" id="grades"></i>
                        <span id="grades"> Grados </span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect content" id="levels">
                        <i id="levels" class="fas fa-school"></i>
                        <span id="levels"> Niveles </span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect content" id="users">
                        <i class="fas fa-user" id="users"></i>
                        <span id="users"> Usuarios </span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect content" id="roles">
                        <i class="fas fa-users" id="roles"></i>
                        <span id="roles"> Roles </span>
                    </a>
                </li>
                <li class="menu-title">Gestión y Análisis</li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-eye"></i><span> Revisión <span
                                class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="submenu">
                        <li><a class="content" id="checkCard">Tarjetas</a></li>
                        <li><a class="content" id="checkStudent">Estudiantes</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"
                      ><i class="fas fa-file-invoice-dollar"></i
                      ><span>
                        Pago
                        <span class="float-right menu-arrow"
                          ><i class="mdi mdi-chevron-right"></i
                        ></span> </span
                    ></a>
                    <ul class="submenu">
                      <li><a class="content" id="payCard">Tarjetas</a></li>
                      <li><a class="content" id="payStudent">Estudiantes</a></li>
                    </ul>
                  </li>

                <li>
                    <a class="waves-effect content" id="controlLog">
                        <i class="fas fa-book" id="controlLog"></i><span class="badge badge-info badge-pill float-right" id="controlLog">9+</span>
                        <span id="controlLog"> Bitácora de Control </span>
                    </a>
                </li>
            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->