<div class="slimscroll-menu" id="remove-scroll">
  <!--- Sidemenu -->
  <div id="sidebar-menu">
    <!-- Left Menu Start -->
    <ul class="metismenu" id="side-menu">
      <li class="menu-title">Estadisticas del Evento</li>
      <li>
        <a class="waves-effect content" id="eventPanel">
          <i class="dripicons-meter" id="eventPanel"></i>
          <span id="eventPanel"> Panel del Evento </span>
        </a>
      </li>

      <li class="menu-title">Administrar Evento</li>
      <li>
        <a class="waves-effect content" id="initialize">
          <i class="fas fa-flag-checkered" id="initialize"></i>
          <span id="initialize"> Inicializar </span>
        </a>
      </li>
      <li>
        <a class="waves-effect content" id="extraCards">
          <i class="far fa-credit-card" id="extraCards"></i>
          <span id="extraCards"> Tarjetas Adicionales </span>
        </a>
      </li>
      <li>
        <a class="waves-effect content" id="reasignCards">
          <i class="fas fa-exchange-alt" id="reasignCards"></i>
          <span id="reasignCards"> Reasignar Tarjetas </span>
        </a>
      </li>
      <li>
        <a class="waves-effect content" id="redeem">
          <i class="fas fa-check" id="redeem"></i>
          <span id="redeem"> Canjeo </span>
        </a>
      </li>
      <li>
        <a class="waves-effect content" id="closure">
          <i class="fas fa-window-close" id="closure"></i>
          <span id="closure"> Cierre </span>
        </a>
      </li>
      <li class="menu-title">Gestión y Análisis</li>
      <li>
        <a href="javascript:void(0);" class="waves-effect"
          ><i class="fas fa-eye"></i
          ><span>
            Revisión
            <span class="float-right menu-arrow"
              ><i class="mdi mdi-chevron-right"></i
            ></span> </span
        ></a>
        <ul class="submenu">
          <li><a class="content" id="checkCard">Tarjetas</a></li>
          <li><a class="content" id="checkStudent">Estudiantes</a></li>
        </ul>
      </li>
      <li>
        <a class="waves-effect content" id="payCard">
          <i class="fas fa-file-invoice-dollar" id="payCard"></i>
          <span id="payCard"> Pago </span>
        </a>
      </li>

      <li>
        <a class="waves-effect content" id="eventLog">
          <i class="fas fa-book" id="eventLog"></i
          ><span class="badge badge-info badge-pill float-right" id="eventLog"
            >9+</span
          >
          <span id="eventLog"> Bitácora de Evento </span>
        </a>
      </li>
      <li class="menu-title">Volver a la plataforma</li>
      <li>
        <a class="waves-effect" id="mainPanel">
          <i class="fas fa-arrow-left" id="mainPanel"></i>
          <span id="mainPanel"> Regresar </span>
        </a>
      </li>
    </ul>
  </div>
  <!-- Sidebar -->
  <div class="clearfix"></div>
</div>
<!-- Sidebar -left -->
